.character-detail-container {
    border: 1px solid black;
    border-radius: 10px;
    width: 400px ;
    box-shadow: black 5px 5px 10px;
    transition: 0.3s;
}

.character-detail-container:hover {
    transform: scale(1.05);
}

.character-detail-container > img {
    width: 350px;
    border-radius: 5px;
}